body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 10vw;
}